<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
	default-lazy-init="true">

	<description>Fixflow Configuration</description>
	
    <!-- 加载配置属性文件 -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath:tryine.properties" />
	
	<!-- 平台本身的连接配置，DB_FIX_BIZ_BASE是连接名称，改名称与fixflowconfig.xml里的可用连接一一对应-->
	<bean id="DB_FIX_BIZ_BASE" scope="prototype" class="com.founder.fix.fixflow.shell.DBConnFactory"> 
	  <property name="dataSource"> 
	    <ref bean="dataSource"/> 
	  </property>
	</bean>
	
	<!-- 平台本身的连接配置，DB_FIX_BIZ_BASE是连接名称，改名称与fixflowconfig.xml里的可用连接一一对应-->
	<bean id="mysql" scope="prototype" class="com.founder.fix.fixflow.shell.DBConnFactory"> 
	  <property name="dataSource"> 
	    <ref bean="dataSource"/> 
	  </property>
	</bean>
	
		<!-- 平台本身的连接配置，DB_FIX_BIZ_BASE是连接名称，改名称与fixflowconfig.xml里的可用连接一一对应-->
	<bean id="sqlserver" scope="prototype" class="com.founder.fix.fixflow.shell.DBConnFactory"> 
	  <property name="dataSource"> 
	    <ref bean="dataSource"/> 
	  </property>
	</bean>
	
</beans>