.btn-normal a {
  display: inline-block;
  padding: 3px 8px;
  font-size: 12px;
  line-height: 12px;
  font-family: "Î¢ÈíÑÅºÚ";
  color:  #fff;
  text-decoration: none;
  border: 2px solid #10a7d9;
  background-color: #10a7d9;
}
.btn-normal a:hover {
  font-size: 9pt;
  color: #10a7d9;
  background-color: #fff;
  font-family: tahoma , Arial;
  text-decoration: none;
}

.btn-disable a, .btn-disable a:hover {
  display: inline-block;
  padding: 3px 8px;
  border: 2px solid #ddd;
  background: #ddd;
  font-size: 12px;
  line-height: 12px;
  font-family: "Î¢ÈíÑÅºÚ";
  color: #999;
  text-decoration: none;
}









.table-form { margin:0; color:#444; background:#fff; width:100%;border: 1px solid #DDD;}
.table-form td { padding:2px 5px; font-family:"Î¢ÈíÑÅºÚ"; text-align:left;border: 1px solid #DDD;}
.table-form td.title-r { text-align:right; color:#666; padding-right:20px;background-color: #FFFAED;width:100px}
.table-form input[inputType=text], .table-form input[type=text], .table-form select { width:100%;padding:2px; font-size:12px; line-height:12px; color:#333;}
.table-form textarea { padding:4px 5px; width:100%; box-sizing:border-box;  font-size:12px; line-height:18px; color:#888;}
